#listContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 400px;
    width: 15%;
    background-color: #8EE4AF;
    color: white;
    overflow-y: auto;
    outline: 1px;
}

.listButton {
    background: #8EE4AF;
    width: 100%; 
    
  }

  #superheroesContainer{
    background: #8EE4AF;
    height: 400px;
    width: 15%;
  }
