.superheroList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  
  .superheroList li {
    background: #3500D3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
  }